
body {
  text-align: center;
  background-image: url('./images/game.jpg');
  height: 100vh;
  margin-top:0px;
  padding: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#info{
  background: red;
  height: 20px;
  width: fit-content;
  border-radius: 5px;
  border: none;
  background: #FEF2BF;
  font-family: sans-serif;
  font-weight:bold;
}